{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "exclude": ["transform-es2015-classes"]
    }],
    "stage-0",
    "flow"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-0", "flow"],
      "plugins": ["istanbul"]
    }
  }
}
